body{
  font-family: Arial;
  background:#f0f8ff;
  text-align:center;
  margin-top:100px;
}
.box{
  background:white;
  width:400px;
  margin:auto;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 10px gray;
}
button{
  padding:10px 20px;
  background:blue;
  color:white;
  border:none;
}